@{
    ViewData["Title"] = "Algoritmo Genético";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ag-tab" data-toggle="tab" href="#ag" role="tab" aria-controls="ag" aria-selected="true">
            O que é AG ?
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="passos-tab" data-toggle="tab" href="#passos" role="tab" aria-controls="passos" aria-selected="false">
            Passos a Seguir
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="devs-tab" data-toggle="tab" href="#devs" role="tab" aria-controls="devs" aria-selected="false">
            Desenvolvedores
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ag" role="tabpanel" aria-labelledby="ag-tab">
        <br />
        <p>
            Conceito de Algoritmo Genético
        </p>
    </div>
    <div class="tab-pane fade" id="passos" role="tabpanel" aria-labelledby="passos-tab">
        <br />
        <p>
            1º
        </p>
        <p>
            2º
        </p>
    </div>
    <div class="tab-pane fade" id="devs" role="tabpanel" aria-labelledby="devs-tab">
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="~/imagens/user_image.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="~/imagens/user_image.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="~/imagens/user_image.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Título do card</h5>
                        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>