@{
    ViewData["Title"] = "Algoritmo Genético";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ag-tab" data-toggle="tab" href="#ag" role="tab" aria-controls="ag" aria-selected="true">
            O que é AG ?
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="passos-tab" data-toggle="tab" href="#passos" role="tab" aria-controls="passos" aria-selected="false">
            Passos a Seguir
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="devs-tab" data-toggle="tab" href="#devs" role="tab" aria-controls="devs" aria-selected="false">
            Contribuidores
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ag" role="tabpanel" aria-labelledby="ag-tab">
        <br />
        <p>
            Conceito de Algoritmo Genético
        </p>
    </div>
    <div class="tab-pane fade" id="passos" role="tabpanel" aria-labelledby="passos-tab">
        <br />
        <p>
            1º
        </p>
        <p>
            2º
        </p>
    </div>
    <div class="tab-pane fade" id="devs" role="tabpanel" aria-labelledby="devs-tab">
        <br />
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#alunos" aria-expanded="false" aria-controls="collapseOne">
                                Alunos
                            </button>
                        </h5>
                    </div>
                    <div id="alunos" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="~/imagens/clovijan.jpeg" alt="Imagem de capa do card">
                                        <div class="card-body">
                                            <h5 class="card-title">CLOVIJAN BISPO ROCHA</h5>
                                            <p class="card-text">
                                                <b>Email</b><br /> jantheboy@hotmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="~/imagens/igor.jpg" alt="Imagem de capa do card">
                                        <div class="card-body">
                                            <h5 class="card-title">IGOR TERRIAGA SANTOS</h5>
                                            <p class="card-text">
                                                <b>Email</b><br /> igsantos1996@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="~/imagens/joan.jpg" alt="Imagem de capa do card">
                                        <div class="card-body">
                                            <h5 class="card-title">JOAN VITOR MENDONÇA DE JESUS</h5>
                                            <p class="card-text">
                                                <b>Email</b><br /> joanvitor97@yahoo.com <br /> j.v.m.j.97@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#professores" aria-expanded="false" aria-controls="collapseOne">
                                Professores
                            </button>
                        </h5>
                    </div>
                    <div id="professores" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="~/imagens/alcides.jpg" alt="Imagem de capa do card">
                                        <div class="card-body">
                                            <h5 class="card-title">ALCIDES XAVIER BENICASA </h5>
                                            <p class="card-text">
                                                <b>Email</b><br /> alcidesbenicasa@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="~/imagens/cabojinha.jpg" alt="Imagem de capa do card">
                                        <div class="card-body">
                                            <h5 class="card-title">ANDRE LUIS MENESES SILVA </h5>
                                            <p class="card-text">
                                                <b>Email</b><br /> andreluisms@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>