
@{
    ViewData["Title"] = "SelecionarAno";
}

<h5>Selecione o perodo que deseja executar o Algoritmo Genético</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="AlgoritmoGenetico">
            <div class="form-group">
                <label class="control-label">Ano</label>
                <select name="ano" asp-items="(SelectList)ViewBag.AllAno" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Executar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


